<!DOCTYPE html>
<html>
  <head>
    <title>Log In Module</title>
    <link rel="shortcut icon" href="/images/bicycle.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
  </head>
  <body>

    <h1>Welcome to our Website</h1>

    <div id="logInErrorBanner">
      <p>Ouch! An error might have occured on you user pseudo or password</p>
      <p>Please try again !</p>
    </div>

    <div id="pageWrapper">

        <div id="logInForm">
          <header>
            <h3>If you have already an account, please log in</h3>
          </header>
          <form action="/userLogIn" method="POST">
            <input required type="text" name="pseudoLogIn" placeholder="Roger">
            <input required type="password" name="passwordLogIn" placeholder="........">
            <button type="submit" name="logInButton" id="logInButton">Log in</button>
          </form>
        </div>

        <div id="signUpForm">
          <header>
            <h3>If you are not registered yet, please sign up herebelow</h3>
          </header>
          <form action="/userSignUp" method="post">

            <div class="userInputs">
              <label for="firstNameSignUp">Firstname</label>
              <input required type="text" name="firstNameSignUp" id="firstNameSignUp" placeholder="Roger">
            </div>

            <div class="userInputs">
            <label for="lastNameSignUp">Lastname</label>
              <input required type="text" name="lastNameSignUp" id="lastNameSignUp" placeholder="Federer">
            </div>

            <div class="userInputs">
            <label for="pseudoSignUp">Pseudo</label>
              <input required type="text" name="pseudoSignUp" id="pseudoSignUp" placeholder="Le Maestro">
            </div>

            <div class="userInputs">
            <label for="passwordSignUp">Password</label>
              <input required type="password" name="passwordSignUp" id="passwordSignUp" placeholder="........">
            </div>

            <div class="userInputs">
            <label for="phoneNumberSignUp">Phone</label>
              <input required type="phone" name="phoneNumberSignUp" id="phoneNumberSignUp" placeholder="06 11 22 33 44">
            </div>

            <div class="userInputs">
            <label for="addressSignUp">Address</label>
              <input required type="text" name="addressSignUp" id="addressSignUp" placeholder="Switzerland">
            </div>

            <div class="userInputs">
            <label for="zipCodeSignUp">Zip Code</label>
              <input required type="text" name="zipCodeSignUp" id="zipCodeSignUp" placeholder="11 222">
            </div>


            <button name="signUpButton" id="signUpButton">Sign up</button>
          </form>
        </div>

    </div>

  </body>
</html>
