<div class="container" id="commonFooter">

     <div class="row justify-content-around">

          <div class="col-12 col-md-5" id="aboutBikeShop">


          </div>

          <div class="col-12 col-md-5" id="contactBikeShop">

          </div>

     </div>

     <div class="row justify-content-center">
       <div id="messageEnd">Fait avec <i id="heartIcon" class="fas fa-heart"></i> par &copy;The Bike Shop </div>
     </div>

</div>
